.card-list-options{
  grid-column: 2/span 10;
  grid-row: 2;
  grid-gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  width: 100%;
}
.card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.card-paragraph {
  font-size: 16px;
    line-height: 24px;
    margin-top: 6px;
}


.card-list-option{
  text-decoration: none;
  color: #242424;
  grid-column: 1ref;
  background-color: #8c8c9d32;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  -webkit-animation: puff-in-center .3s cubic-bezier(.47,0,.745,.715) both;
    animation: puff-in-center .3s cubic-bezier(.47,0,.745,.715) both;
    background: #f7f7f8;
    border-radius: 8px;
  height: 275px;
    padding: 1rem;
    transition: background .1s ease-in-out;
}

.card-list-option:hover{
  transition: ease-in-out .2s;
  background: #ececf1;
}
