* {
  font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #fff;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 14vh 76vh 10vh;
  grid-template-areas: "main";
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.container main {
  grid-column: 1/ span 12;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3;
  grid-column: 1/ span 12;
  text-align: center;
  content: "";
  top: 0; /* Ajuste para controlar a altura da sombra */
  left: 0;
  width: 100%;
  height: 10vh; /* Altura da sombra, ajuste conforme necessário */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.18), transparent);
}