

h2 { 
  font-size: 1.25rem;
}

.link {
  font-weight: 500;
  text-decoration: none;
  text-decoration: inherit;
}

a:-webkit-any-link {
  color: #2b333a
}

form {
  width: 100%;
}
fieldset{ 
  border: none;
  /* padding: 0; */
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: start;

  font-weight: light;
}

fieldset label { 
  cursor: pointer
}

fieldset label:hover{
  font-weight: 600;
}

input[type="text"] {
  width: -webkit-fill-available;
  color: #213547;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #eee;
}

input[type="text"]:hover {
  background-color: #ddd;
}
